@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

/* To avoid background change when autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:is(:hover, :focus, :active) {
  transition: background-color 100000s ease-in-out 0s;
}
